<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>English words</title>
        <style>
            a {
                font-size: 18pt;
            }
        </style>
    </head>
    <body th:align="center">
        <div>
            <table>
                <tr>
                    <td th:each="englishLetter : ${englishLetters}" th:if="${englishLetterStat.index lt 9}">
                        <a th:href="@{/words/{letter}(letter=${englishLetter})}"><img th:src="@{/img/letters/letter_{letter}.jpg(letter=${englishLetter})}"></a>
                    </td>
                </tr>
                <tr >
                    <td th:each="englishLetter : ${englishLetters}" th:if="${englishLetterStat.index gt 8 and englishLetterStat.index lt 18}">
                        <a th:href="@{/words/{letter}(letter=${englishLetter})}"><img th:src="@{/img/letters/letter_{letter}.jpg(letter=${englishLetter})}"></a>
                    </td>
                </tr>
                <tr >
                    <td th:each="englishLetter : ${englishLetters}" th:if="${englishLetterStat.index gt 17 and englishLetterStat.index lt 30}">
                        <a th:href="@{/words/{letter}(letter=${englishLetter})}"><img th:src="@{/img/letters/letter_{letter}.jpg(letter=${englishLetter})}"></a>
                    </td>
                </tr>
            </table>
        </div>

    </body>
</html>

