<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <title>English words</title>
    </head>
    <body th:align="center">
        <h1>Words</h1>
        <ul th:each="englishWord : ${englishWords}">
            <!--<li>${englishWord.englishTranslate}</li>-->
            <li th:text="${englishWord.englishTranslate}"></li>
        </ul>
    </body>
</html>

